:root {
  --secondary-text-color: #2e2f42;
  --primary-text-color: #434455;
  --acent-color: #4d5ae5;
  --white-color: #ffffff;
  --footer-text-color: #f4f4fd;
  --header-background-color: #e7e9fc;
}

body {
  background-color: var(--white-color);
  color: var(--secondary-text-color);
}

/* Header */
